#shirts-banner{
    background: url(../images/afternav/online-isolated-people-scene-vector.jpg);
    height: 30vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tshirt-banner{
    background: url(../images/afternav/online-isolated-people-scene-vector.jpg);
    height: 30vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about-banner{
    background: url(../images/afternav/banner3.png);
    height: 30vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}