#about-banner h1{
    color:white;
    font-size: 50px;
    text-align: center;
}
#about-banner p{
    color:white;
    font-size: 30px;
}

#about-head img{
 width: 50%;
 height: auto;
}
#about-head{
    display: flex;
    align-items: center;
}

#about-head div{
    padding-left: 50px;

}
#about-head div h1{
    font-size: 50px;

}

@media (max-width:940px){
    #about-head{
        display: flex;
        flex-direction: column;
    }
    .paddingspace{
        padding: 40px 10px;
    }
}
@media (max-width:656px){
    #about-head img{
        width: 70%;
        height: auto;
       }
}